<?xml version="1.0" encoding="utf-8"?>
	<rows id="0">
		<row id='1'>
			<cell><![CDATA[Комплекс VIP 1]]></cell>
			<cell><![CDATA[Солянка 0,300, Отбивная свиная 0,100, Картофель жареный 0,200, салат по - домашнему (помидоры, огурцы, масло растительное) 0,100]]></cell>
			<cell><![CDATA[30.00]]></cell>			
		</row>
		<row id='2'>
			<cell><![CDATA[Комплекс VIP 2]]></cell>
			<cell><![CDATA[Окрошка 0,300, сёмга в сметанном соусе 0,100/0,050, Картофель отварной 0,200, салат "Пекинский" (капуста пекинская, яйца, майонез) 0,100]]></cell>
			<cell><![CDATA[45.00]]></cell>			
		</row>
		<row id='3'>
			<cell><![CDATA[Бизнес - комплекс № 1]]></cell>
			<cell><![CDATA[Салат "Сафари" (грибы, морковь по - корейски, окорочёк копчёный, огурцы, майонез) 0,100 Борщ зелёный 0,300 Отбивная свиная 0,100 Пюре картофельное 0,200]]></cell>
			<cell><![CDATA[25.00]]></cell>
		</row>			
    </rows>